<div class="">

  <div class="oj-flex oj-flex-items-pad">
    <!-- 1 -->
    <div class="oj-lg-8 oj-mg-6 oj-flex-item oj-sm-only-hide oj-md-only-hide">
      <img src="css/images/loginSplash.png" style="width: 100%; margin: -10px; margin-left: -13px" />
    </div>

    <!-- 2 -->
    <div class="oj-sm-align-self-center oj-lg-4 oj-md-12 oj-flex-item oj-sm-padding-4x-horizontal">
      <div class="text-center">
        <img class="oj-sm-only-hide" src="css/images/ACC_Mortgage_Logo.png" width="200px" />
      </div>
      <oj-validation-group id="tracker">
        <br />
        <h4>Reset your password</h4>
        <oj-form-layout user-assistance-density='compact' class="oj-helper-margin-auto oj-formlayout-full-width"
          max-columns='1'>

          <oj-bind-if test="[[!key()]]">
            <oj-input-text style="min-width: 15em;" id="email" label-hint="Email" value="{{email}}" required
              validators="[[[validators.email]]]">
            </oj-input-text>

            <oj-button style="min-width: 100%" chroming="callToAction" on-oj-action="[[sendEmail]]">Send Email
            </oj-button>
          </oj-bind-if>

          <oj-bind-if test="[[key()]]">
            
            <oj-input-text readonly style="min-width: 15em;" id="email" value="{{email}}" label-hint="Email">
            </oj-input-text>
            <oj-input-password style="min-width: 15em;" id="pass" type="password" value="{{password}}" required
              validators="[[[validators.required(8)]]]" label-hint="New Password">
            </oj-input-password>
            <oj-input-password style="min-width: 15em;" id="confirmPassword" type="password" value="{{confirmPassword}}"
              required validators="[[[equalToPassword]]]" label-hint="Confirm New Password">
            </oj-input-password>
            
            <oj-button style="min-width: 100%" chroming="callToAction" on-oj-action="[[resetPassword]]">Reset Password
            </oj-button>
            
          </oj-bind-if>


        </oj-form-layout>

      </oj-validation-group>
    </div>
  </div>

</div>